# Gentrification in New Orleans - Leah Kuperman and Leo Simanonok

https://leosimanonok.github.io/DataScienceFinalTutorial/

## Milestone 1
    
&nbsp;&nbsp;&nbsp;&nbsp;Throughout the past decade, data science has emerged as a leading field of study and industry. Data analysis has become critical in tackling societal problems and 
tracking certain trends in order to arrive at informed, logical solutions. For our final project, we have decided to study New Orleans income and property data 
to identify the prevalence of gentrification in different neighborhoods. As Tulane students, it is easy to become trapped in the uptown bubble and forget about the 
impact we have on the rest of the cityâ€™s people, economy, and culture. It is no secret that New Orleans as a whole is a victim of gentrification. Part of what makes 
the city so unique is its rich history and resilience, something to which none of the 13,000 people from out of state who have moved here from 2012-2016 can bear 
witness. That being said, our goal for this project is to find meaningful insights in our datasets which we can offer to our partners, hopefully inspiring positive 
changes in New Orleans.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;Initially, one of the datasets we hoped to get our hands on was property value data. Looking at housing prices would allow us take a holistic look at gentrification
and possibly track the movement of affluent people to previously poorer neighborhoods. Unfortunately, property value data is notoriously hard to collect in New 
Orleans. Because of this, we decided to focus instead on poverty rates and income data. To this end, we found census data from the years 2010-2018 which estimates 
the median income and poverty rate of every county in the USA.
Another dataset we are looking at describes the racial profile of different neighborhoods in and around New Orleans. We hope to use this data in conjunction with 
the previously discussed census data in order to show how gentrification changes the make-up of neighborhoods. Ideally, we would like to show where the displaced 
citizens moved after their neighborhoods were gentrified. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;The dataset we decided to load into our notebook for this milestone contains the median income and poverty rate for each parish in Louisiana. Loading this dataset 
came with a host of struggles. The biggest struggle was figuring out which character(s) to use as a delimiter. Some of the columns in the data set were separated by a 
single space, some by tabs, and some by longer segments of white space. In addition, one field in particular, the name of the county, had white space in the middle of 
the value, e.g. Orleans Parish. In order to be able to load the data correctly, we decided to use r"\s+" as our delineator, which specifies any kind of white space. 
This meant that the names of the counties had to have their spaces removed by hand.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;In terms of our meeting plan, we have set weekly meetings on Mondays at 1pm to analyze our progress and plan for any upcoming due dates or milestones. Depending on 
our availability and wellbeing, we have decided to meet in person in the library to avoid technological complications. In the event that we need to meet virtually, we will maintain these meeting times via Zoom. For any code we are writing for the final project, we will do so in our private GitHub repo attached to our final project page. We have already established that both of us are able to connect, pull, and push to it from our local machines.

## References/Links
https://www.census.gov/programs-surveys/saipe/data/api.html<br>
https://www.census.gov/data/datasets/time-series/demo/saipe/model-tables.html<br>
https://www.datacenterresearch.org/reports_analysis/placing-prosperity/<br>
https://richcampanella.com/wp-content/uploads/2020/02/article_Campanella_300-Years-of-Human-Geography-in-New-Orleans.pdf<br>
https://www.nytimes.com/2019/08/27/opinion/new-orleans.html

In [1]:
import requests
import pandas as pd

In [2]:
Saiphe2010_df = pd.read_csv('./est10-la.txt',
                        sep=r"\s+",
                        header=None,
                        skiprows = 1,
                        index_col=False,
                        names=["FIPS State Code", "FIPS county code", "Estimate of people of all ages in poverty",
                               "90% confidence interval lower bound of estimate of people of all ages in poverty",
                               "90% confidence interval upper bound of estimate of people of all ages in poverty",
                               "Estimated percent of people of all ages in poverty",
                               "90% confidence interval lower bound of estimate of percent of people of all ages in poverty", 
                               "90% confidence interval upper bound of estimate of percent of people of all ages in poverty", 
                               " Estimate of people age 0-17 in poverty", 
                               "90% confidence interval lower bound of estimate of people age 0-17 in poverty", 
                               "90% confidence interval upper bound of estimate of people age 0-17 in poverty", 
                               "Estimated percent of people age 0-17 in poverty", 
                              "90% confidence interval lower bound of estimate of percent of people age 0-17 in poverty", 
                               "90% confidence interval upper bound of estimate of percent of people age 0-17 in poverty", 
                               "Estimate of related children age 5-17 in families in poverty", 
                              "90% confidence interval lower bound of estimate of related children age 5-17 in families in poverty",
                               "90% confidence interval upper bound of estimate of related children age 5-17 in families in poverty", 
                               "Estimated percent of related children age 5-17 in families in poverty", 
                               "90% confidence interval lower bound of estimate of percent of related children age 5-17 in families in poverty", 
                              "90% confidence interval upper bound of estimate of percent of related children age 5-17 in families in poverty", 
                               "Estimate of median household income", "90% confidence interval lower bound of estimate of median household income", 
                              "90% confidence interval upper bound of estimate of median household income", "State or county name", 
                               "Two-letter Postal State abbreviation", "Tag"] 
                           )
Saiphe2010_df["Year"] = 2010

MedianIncome_df = Saiphe2010_df[["FIPS county code", "State or county name", 
                                 "Estimate of people of all ages in poverty", 
                               "Estimated percent of people of all ages in poverty", 
                               "Estimate of median household income", 
                               "90% confidence interval lower bound of estimate of median household income", 
                              "90% confidence interval upper bound of estimate of median household income", "Year"]]

#Adds all years of data into a singular dataset
for i in range(11, 19):
    newAddition = pd.read_csv('./est' + str(i) + '-la.txt',
                        sep=r"\s+",
                        header=None,
                        skiprows = 1,
                        index_col=False,
                        names=["FIPS State Code", "FIPS county code", "Estimate of people of all ages in poverty",
                               "90% confidence interval lower bound of estimate of people of all ages in poverty",
                               "90% confidence interval upper bound of estimate of people of all ages in poverty",
                               "Estimated percent of people of all ages in poverty",
                               "90% confidence interval lower bound of estimate of percent of people of all ages in poverty", 
                               "90% confidence interval upper bound of estimate of percent of people of all ages in poverty", 
                               " Estimate of people age 0-17 in poverty", 
                               "90% confidence interval lower bound of estimate of people age 0-17 in poverty", 
                               "90% confidence interval upper bound of estimate of people age 0-17 in poverty", 
                               "Estimated percent of people age 0-17 in poverty", 
                              "90% confidence interval lower bound of estimate of percent of people age 0-17 in poverty", 
                               "90% confidence interval upper bound of estimate of percent of people age 0-17 in poverty", 
                               "Estimate of related children age 5-17 in families in poverty", 
                              "90% confidence interval lower bound of estimate of related children age 5-17 in families in poverty",
                               "90% confidence interval upper bound of estimate of related children age 5-17 in families in poverty", 
                               "Estimated percent of related children age 5-17 in families in poverty", 
                               "90% confidence interval lower bound of estimate of percent of related children age 5-17 in families in poverty", 
                              "90% confidence interval upper bound of estimate of percent of related children age 5-17 in families in poverty", 
                               "Estimate of median household income", "90% confidence interval lower bound of estimate of median household income", 
                              "90% confidence interval upper bound of estimate of median household income", "State or county name", 
                               "Two-letter Postal State abbreviation", "Tag"] 
                           )
    newAddition["Year"] = '20' + str(i)
    
    
    newAddition = newAddition[["FIPS county code", "State or county name", "Estimate of people of all ages in poverty", 
                               "Estimated percent of people of all ages in poverty", 
                               "Estimate of median household income", 
                               "90% confidence interval lower bound of estimate of median household income", 
                              "90% confidence interval upper bound of estimate of median household income", "Year"]]
    MedianIncome_df = pd.concat([MedianIncome_df, newAddition], ignore_index=True)

In [3]:
#Change column names to be more readable
MedianIncome_df.columns = ['Parish Code', 'Parish', 'Num in Poverty', 'Pct in Poverty', 
                            'Median Household Income','Med. Income Upper Bound', 'Med. Income Lower Bound', 'Year']
MedianIncome_df

,Parish Code,Parish,Num in Poverty,Pct in Poverty,Median Household Income,Med. Income Upper Bound,Med. Income Lower Bound,Year
0,1,AcadiaParish,12760,21.0,36814,33728,39900,2010
1,3,AllenParish,4374,20.4,35711,33319,38103,2010
2,5,AscensionParish,13622,12.8,62069,57154,66984,2010
3,7,AssumptionParish,3858,16.7,43503,39810,47196,2010
4,9,AvoyellesParish,8350,21.6,31523,29209,33837,2010
...,...,...,...,...,...,...,...,...
571,119,WebsterParish,9764,26.0,35070,31143,38997,2018
572,121,WestBatonRougeParish,3299,12.8,58205,53003,63407,2018
573,123,WestCarrollParish,2455,23.3,39332,35467,43197,2018
574,125,WestFelicianaParish,2470,24.4,60296,53961,66631,2018
575,127,WinnParish,2829,22.8,40133,36045,44221,2018

In [4]:
xls = pd.ExcelFile("./Neighborhood profiles data tables.xlsx")
race_df = pd.read_excel(xls, "Table 4", skiprows = 11)
race_df

,Unnamed: 0,2000,2014-2018,MOE,Unnamed: 4,2000.1,2014-2018.1,MOE.1,Unnamed: 8,2000.2,...,2014-2018.4,MOE.4,Unnamed: 20,2000.5,2013-2017,MOE.5,Unnamed: 24,2000.6,2013-2017.1,MOE.6
0,Algiers Point,0.251,0.086,0.044,NaN,0.674,0.816,0.03,NaN,0.008,...,0.005,0.008,NaN,0.047,0.09,0.047,NaN,0.005,0,0.006
1,Audubon,0.051,0.071,0.015,NaN,0.861,0.736,0.013,NaN,0.024,...,0.035,0.011,NaN,0.044,0.1,0.026,NaN,0.003,0.003,0.003
2,B.W. Cooper,0.984,0.974,0.041,NaN,0.002,0,0.012,NaN,0.000,...,0.015,0.014,NaN,0.009,0.008,0.013,NaN,0.001,0.004,0.014
3,Bayou St. John,0.678,0.37,0.092,NaN,0.267,0.537,0.021,NaN,0.009,...,0.004,0.004,NaN,0.032,0.083,0.036,NaN,0.002,0.003,0.005
4,Behrman,0.774,0.783,0.051,NaN,0.128,0.114,0.041,NaN,0.016,...,0.012,0.013,NaN,0.066,0.087,0.039,NaN,0.002,0,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,West Lake Forest,0.954,0.921,0.017,NaN,0.020,0.003,0.003,NaN,0.004,...,0.014,0.009,NaN,0.013,0.053,0.029,NaN,0.001,0.009,0.013
70,West Riverside,0.361,0.204,0.052,NaN,0.569,0.73,0.024,NaN,0.007,...,0.01,0.005,NaN,0.042,0.039,0.015,NaN,0.003,0.004,0.008
71,Whitney,0.849,0.786,0.097,NaN,0.111,0.168,0.044,NaN,0.005,...,0.007,0.008,NaN,0.023,0.005,0.009,NaN,0.000,0.012,0.022
72,New Orleans,0.667,0.59,0.002,NaN,0.266,0.306,0,NaN,0.023,...,0.015,0.002,NaN,0.031,0.055,0,NaN,0.002,0.004,0.001
73,United States,0.121,0.123,0,NaN,0.691,0.611,0,NaN,0.036,...,0.024,0,NaN,0.125,0.178,0,NaN,0.003,0.004,0

In [5]:
race_df.drop(columns = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12", "Unnamed: 16", "Unnamed: 20", "Unnamed: 24", "MOE", "MOE.1", "MOE.2", "MOE.3", "MOE.4", "MOE.5", "MOE.6", "2000.4", "2014-2018.4"], inplace=True)
race_df

,Unnamed: 0,2000,2014-2018,2000.1,2014-2018.1,2000.2,2014-2018.2,2000.3,2014-2018.3,2000.5,2013-2017,2000.6,2013-2017.1
0,Algiers Point,0.251,0.086,0.674,0.816,0.008,0.003,0.005,0,0.047,0.09,0.005,0
1,Audubon,0.051,0.071,0.861,0.736,0.024,0.055,0.002,0,0.044,0.1,0.003,0.003
2,B.W. Cooper,0.984,0.974,0.002,0,0.000,0,0.000,0,0.009,0.008,0.001,0.004
3,Bayou St. John,0.678,0.37,0.267,0.537,0.009,0.003,0.004,0,0.032,0.083,0.002,0.003
4,Behrman,0.774,0.783,0.128,0.114,0.016,0.003,0.002,0.001,0.066,0.087,0.002,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,West Lake Forest,0.954,0.921,0.020,0.003,0.004,0,0.002,0,0.013,0.053,0.001,0.009
70,West Riverside,0.361,0.204,0.569,0.73,0.007,0.011,0.004,0.001,0.042,0.039,0.003,0.004
71,Whitney,0.849,0.786,0.111,0.168,0.005,0.022,0.002,0,0.023,0.005,0.000,0.012
72,New Orleans,0.667,0.59,0.266,0.306,0.023,0.029,0.002,0.001,0.031,0.055,0.002,0.004
73,United States,0.121,0.123,0.691,0.611,0.036,0.054,0.007,0.007,0.125,0.178,0.003,0.004

In [6]:
race_df.rename(columns = { 
    "Unnamed: 0" : "Neighborhood",
    2000 : "Percent Black in 2000", 
    "2014-2018" : "Percent Black in 2014-2018",
    "2000.1" : "Percent White in 2000", 
    "2014-2018.1" : "Percent White in 2014-2018",
    "2000.2" : "Percent Asian in 2000", 
    "2014-2018.2" : "Percent Asian in 2014-2018",
    "2000.3" : "Percent American Indian in 2000", 
    "2014-2018.3" : "Percent American Indian in 2014-2018",
    "2000.5" : "Percent Hispanic in 2000", 
    "2013-2017" : "Percent Hispanic in 2013-2017",
    "2000.6" : "Percent Other in 2000", 
    "2013-2017.1" : "Percent Other in 2013-2017"
    }, inplace = True)
race_df

,Neighborhood,Percent Black in 2000,Percent Black in 2014-2018,Percent White in 2000,Percent White in 2014-2018,Percent Asian in 2000,Percent Asian in 2014-2018,Percent American Indian in 2000,Percent American Indian in 2014-2018,Percent Hispanic in 2000,Percent Hispanic in 2013-2017,Percent Other in 2000,Percent Other in 2013-2017
0,Algiers Point,0.251,0.086,0.674,0.816,0.008,0.003,0.005,0,0.047,0.09,0.005,0
1,Audubon,0.051,0.071,0.861,0.736,0.024,0.055,0.002,0,0.044,0.1,0.003,0.003
2,B.W. Cooper,0.984,0.974,0.002,0,0.000,0,0.000,0,0.009,0.008,0.001,0.004
3,Bayou St. John,0.678,0.37,0.267,0.537,0.009,0.003,0.004,0,0.032,0.083,0.002,0.003
4,Behrman,0.774,0.783,0.128,0.114,0.016,0.003,0.002,0.001,0.066,0.087,0.002,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,West Lake Forest,0.954,0.921,0.020,0.003,0.004,0,0.002,0,0.013,0.053,0.001,0.009
70,West Riverside,0.361,0.204,0.569,0.73,0.007,0.011,0.004,0.001,0.042,0.039,0.003,0.004
71,Whitney,0.849,0.786,0.111,0.168,0.005,0.022,0.002,0,0.023,0.005,0.000,0.012
72,New Orleans,0.667,0.59,0.266,0.306,0.023,0.029,0.002,0.001,0.031,0.055,0.002,0.004
73,United States,0.121,0.123,0.691,0.611,0.036,0.054,0.007,0.007,0.125,0.178,0.003,0.004

In [7]:
#xls = pd.ExcelFile("./Neighborhood profiles data tables.xlsx")

#Cleaning Occupancy Data
occup_df = pd.read_excel(xls, "Table 8", skiprows = 11)
occup_df.drop(columns = ["Unnamed: 4", "Unnamed: 8", "MOE", "MOE.1", "MOE.2"], inplace=True)
occup_df.rename(columns = { 
    "Unnamed: 0" : "Neighborhood",
    2000 : "Total Housing Units in 2000", 
    "2014-2018" : "Total Housing Units in 2014-2018",
    "2000.1" : "Percent Occupancy in 2000", 
    "2014-2018.1" : "Percent Occupancy in 2014-2018",
    "2000.2" : "Percent Vacancy in 2000", 
    "2014-2018.2" : "Percent Vacancy in 2014-2018"
    }, inplace = True)

#Cleaning Occupancy Data by RENTER/OWNER
rent_own_df = pd.read_excel(xls, "Table 9", skiprows = 11)
rent_own_df.drop(columns = ["Unnamed: 4", "Unnamed: 8", "MOE", "MOE.1", "MOE.2"], inplace=True)
rent_own_df.rename(columns = { 
    "Unnamed: 0" : "Neighborhood",
    2000 : "Total Occupied Housing Units in 2000", 
    "2014-2018" : "Total Occupied Housing Units in 2014-2018",
    "2000.1" : "Percent Owner Occupied in 2000", 
    "2014-2018.1" : "Percent Owner Occupied in 2014-2018",
    "2000.2" : "Percent Renter Occupied in 2000", 
    "2014-2018.2" : "Percent Renter Occupied in 2014-2018"
    }, inplace = True)

#Cleaning average rent data
avg_rent_df = pd.read_excel(xls, "Table 11", skiprows = 11)
avg_rent_df.drop(columns = ["Unnamed: 3","MOE", "MOE.1"], inplace=True)
avg_rent_df.rename(columns = { 
    "Unnamed: 0" : "Neighborhood",
    "2014-2018" : "Avg Contract Rent in 2014-2018",
    "2014-2018.1" : "Avg Gross Rent in 2014-2018"
    }, inplace = True)

#Cleaning average household income data
avg_income_df = pd.read_excel(xls, "Table 14", skiprows = 11)
avg_income_df.drop(columns='MOE', inplace=True)
avg_income_df.rename(columns = {'Unnamed: 0':'Neighborhood', 2000 : "Avg Household Income in 2000", 
    "2014-2018" : "Avg Household Income in 2014-2018"}, inplace=True)

#Cleaning income distribution data
inc_dist_df = pd.read_excel(xls, "Table 15", skiprows = 11)
inc_dist_df.drop(columns = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12", 
                            "Unnamed: 16", "Unnamed: 20", "Unnamed: 24","Unnamed: 28", "Unnamed: 32", 
                            "Unnamed: 36", "Unnamed: 40", "Unnamed: 44", "Unnamed: 48", "Unnamed: 52",
                            "Unnamed: 56", "Unnamed: 60", 
                            "MOE", "MOE.1", "MOE.2", "MOE.3", "MOE.4", "MOE.5", 
                            "MOE.6", "MOE.7", "MOE.8", "MOE.9", "MOE.10",
                            "MOE.11", "MOE.12", "MOE.13", "MOE.14", "MOE.15"], inplace=True)

inc_dist_df.rename(columns = { 
    "Unnamed: 0" : "Neighborhood",
    2000 : "Percent Income Under $10K in 2000", 
    "2000.1" : "Percent Income $10K-$15K in 2000",
    "2000.2" : "Percent Income $15K-$20K in 2000",
    "2000.3" : "Percent Income $20K-$25K in 2000",
    "2000.4" : "Percent Income $25K-$30K in 2000",
    "2000.5" : "Percent Income $30K-$35K in 2000",
    "2000.6" : "Percent Income $35K-$40K in 2000",
    "2000.7" : "Percent Income $40K-$45K in 2000",
    "2000.8" : "Percent Income $45K-$50K in 2000",
    "2000.9" : "Percent Income $50K-$60K in 2000",
    "2000.10" : "Percent Income $60K-$75K in 2000",
    "2000.11" : "Percent Income $75K-$100K in 2000",
    "2000.12" : "Percent Income $100K-$125K in 2000",
    "2000.13" : "Percent Income $125K-$150K in 2000",
    "2000.14" : "Percent Income $150K-$200K in 2000",
    "2000.15" : "Percent Income $200K+ in 2000",
    "2014-2018" : "Percent Income Under $10K in 2014-2018", 
    "2014-2018.1" : "Percent Income $10K-$15K in 2014-2018",
    "2014-2018.2" : "Percent Income $15K-$20K in 2014-2018",
    "2014-2018.3" : "Percent Income $20K-$25K in 2014-2018",
    "2014-2018.4" : "Percent Income $25K-$30K in 2014-2018",
    "2014-2018.5" : "Percent Income $30K-$35K in 2014-2018",
    "2014-2018.6" : "Percent Income $35K-$40K in 2014-2018",
    "2014-2018.7" : "Percent Income $40K-$45K in 2014-2018",
    "2014-2018.8" : "Percent Income $45K-$50K in 2014-2018",
    "2014-2018.9" : "Percent Income $50K-$60K in 2014-2018",
    "2014-2018.10" : "Percent Income $60K-$75K in 2014-2018",
    "2014-2018.11" : "Percent Income $75K-$100K in 2014-2018",
    "2014-2018.12" : "Percent Income $100K-$125K in 2014-2018",
    "2014-2018.13" : "Percent Income $125K-$150K in 2014-2018",
    "2014-2018.14" : "Percent Income $150K-$200K in 2014-2018",
    "2014-2018.15" : "Percent Income $200K+ in 2014-2018",
    }, inplace = True)

# Cleaning percent of income spent on housing data
inc_on_housing_df = pd.read_excel(xls, "Table 12", skiprows = 11)
inc_on_housing_df.drop(columns = ["Unnamed: 3","MOE", "MOE.1", '2014-2018.1'], inplace=True)
inc_on_housing_df.rename(columns = { "Unnamed: 0" : "Neighborhood", "2014-2018" : "Percent of Income Paid on Housing in 2014-2018",}, inplace = True)

In [8]:
inc_dist_df

,Neighborhood,Percent Income Under $10K in 2000,Percent Income Under $10K in 2014-2018,Percent Income $10K-$15K in 2000,Percent Income $10K-$15K in 2014-2018,Percent Income $15K-$20K in 2000,Percent Income $15K-$20K in 2014-2018,Percent Income $20K-$25K in 2000,Percent Income $20K-$25K in 2014-2018,Percent Income $25K-$30K in 2000,...,Percent Income $75K-$100K in 2000,Percent Income $75K-$100K in 2014-2018,Percent Income $100K-$125K in 2000,Percent Income $100K-$125K in 2014-2018,Percent Income $125K-$150K in 2000,Percent Income $125K-$150K in 2014-2018,Percent Income $150K-$200K in 2000,Percent Income $150K-$200K in 2014-2018,Percent Income $200K+ in 2000,Percent Income $200K+ in 2014-2018
0,Algiers Point,0.085,0.026,0.080,0.044,0.069,0.042,0.066,0.034,0.056,...,0.076,0.069,0.039,0.096,0.021,0.126,0.015,0.081,0.022,0.065
1,Audubon,0.149,0.072,0.039,0.025,0.037,0.02,0.047,0.022,0.042,...,0.088,0.085,0.066,0.08,0.037,0.069,0.062,0.083,0.149,0.27
2,B.W. Cooper,0.544,0.267,0.196,0.152,0.088,0.127,0.032,0.114,0.041,...,0.000,0.032,0.009,0.016,0.000,0.01,0.000,0,0.006,0
3,Bayou St. John,0.210,0.081,0.100,0.096,0.135,0.081,0.061,0.043,0.083,...,0.059,0.08,0.011,0.049,0.009,0.038,0.007,0.076,0.018,0.078
4,Behrman,0.196,0.244,0.112,0.111,0.103,0.099,0.102,0.098,0.075,...,0.038,0.068,0.016,0.037,0.004,0.017,0.005,0.012,0.000,0.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,West Lake Forest,0.224,0.236,0.084,0.096,0.103,0.097,0.091,0.091,0.059,...,0.031,0.043,0.007,0.026,0.005,0.011,0.006,0.028,0.005,0
70,West Riverside,0.141,0.059,0.102,0.03,0.099,0.041,0.087,0.012,0.054,...,0.058,0.172,0.032,0.048,0.012,0.04,0.023,0.079,0.030,0.135
71,Whitney,0.232,0.109,0.113,0.122,0.115,0.074,0.080,0.09,0.072,...,0.053,0.092,0.007,0.029,0.000,0.021,0.010,0.016,0.009,0.021
72,New Orleans,0.210,0.144,0.096,0.083,0.083,0.067,0.075,0.06,0.072,...,0.057,0.087,0.028,0.058,0.014,0.036,0.014,0.042,0.022,0.059
73,United States,0.095,0.063,0.063,0.046,0.063,0.046,0.066,0.047,0.064,...,0.102,0.125,0.052,0.089,0.025,0.058,0.022,0.063,0.024,0.07

In [9]:
race_df

,Neighborhood,Percent Black in 2000,Percent Black in 2014-2018,Percent White in 2000,Percent White in 2014-2018,Percent Asian in 2000,Percent Asian in 2014-2018,Percent American Indian in 2000,Percent American Indian in 2014-2018,Percent Hispanic in 2000,Percent Hispanic in 2013-2017,Percent Other in 2000,Percent Other in 2013-2017
0,Algiers Point,0.251,0.086,0.674,0.816,0.008,0.003,0.005,0,0.047,0.09,0.005,0
1,Audubon,0.051,0.071,0.861,0.736,0.024,0.055,0.002,0,0.044,0.1,0.003,0.003
2,B.W. Cooper,0.984,0.974,0.002,0,0.000,0,0.000,0,0.009,0.008,0.001,0.004
3,Bayou St. John,0.678,0.37,0.267,0.537,0.009,0.003,0.004,0,0.032,0.083,0.002,0.003
4,Behrman,0.774,0.783,0.128,0.114,0.016,0.003,0.002,0.001,0.066,0.087,0.002,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,West Lake Forest,0.954,0.921,0.020,0.003,0.004,0,0.002,0,0.013,0.053,0.001,0.009
70,West Riverside,0.361,0.204,0.569,0.73,0.007,0.011,0.004,0.001,0.042,0.039,0.003,0.004
71,Whitney,0.849,0.786,0.111,0.168,0.005,0.022,0.002,0,0.023,0.005,0.000,0.012
72,New Orleans,0.667,0.59,0.266,0.306,0.023,0.029,0.002,0.001,0.031,0.055,0.002,0.004
73,United States,0.121,0.123,0.691,0.611,0.036,0.054,0.007,0.007,0.125,0.178,0.003,0.004