In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./Data/cleaned_race_data.csv')

In [3]:
df_2010 = df.loc[df["Year"] == 2010]
df_2018 = df.loc[df["Year"] == 2018]

df_2010["Percent Black"] = df_2010["Black"] / df_2010["Total Population"]
df_2018["Percent Black"] = df_2018["Black"] / df_2018["Total Population"]

df = df_2010["Geo_ID"]

,Unnamed: 0,Geo_ID,Census Tract,Total Population,White,Black,American Indian and Alask Native,Asian,Native Hawaiian and Other Pacific Islander,Other,Year
0,0,22071006000,60.0,449,164,179,0,106,0,0,2010
1,1,22071006300,63.0,1340,283,843,0,0,0,214,2010
2,2,22071006400,64.0,2118,1273,770,0,30,0,23,2010
3,3,22071006500,65.0,2126,933,1031,8,0,22,102,2010
4,4,22071006900,69.0,773,0,773,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...,...
1588,1588,22071014400,144.0,1723,1177,477,13,16,0,12,2018
1589,1589,22071014500,145.0,2516,332,2173,0,8,0,3,2018
1590,1590,22071980000,9800.0,10,7,1,0,2,0,0,2018
1591,1591,22071980100,9801.0,0,0,0,0,0,0,0,2018
1592,1592,22071990000,9900.0,0,0,0,0,0,0,0,2018