# Gentrification in New Orleans - Leah Kuperman and Leo Simanonok

https://leosimanonok.github.io/DataScienceFinalTutorial/

&nbsp;&nbsp;&nbsp;&nbsp;Throughout the past decade, data science has emerged as a leading field of study and industry. Data analysis has become critical in tackling societal problems and 
tracking certain trends in order to arrive at informed, logical solutions. For our final project, we have decided to study New Orleans income and property data 
to identify the prevalence of gentrification in different neighborhoods. As Tulane students, it is easy to become trapped in the uptown bubble and forget about the 
impact we have on the rest of the cityâ€™s people, economy, and culture. It is no secret that New Orleans as a whole is a victim of gentrification. Part of what makes 
the city so unique is its rich history and resilience, something to which none of the 13,000 people from out of state who have moved here from 2012-2016 can bear 
witness. That being said, our goal for this project is to find meaningful insights in our datasets which we can offer to our partners, hopefully inspiring positive 
changes in New Orleans.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;Initially, one of the datasets we hoped to get our hands on was property value data. Looking at housing prices would allow us take a holistic look at gentrification
and possibly track the movement of affluent people to previously poorer neighborhoods. Unfortunately, property value data is notoriously hard to collect in New 
Orleans. Because of this, the first dataset we analyzed involves poverty rates and income data. To this end, we found census data from the years 2010-2018 which estimates 
the median income and poverty rate of every county in the USA. Another dataset we decided to look into is a census tract dataset containing both racial and income data. Finally, a third dataset we are looking at analyzes similar statistics from a level of different neighborhoods in and around New Orleans. We hope to use this data in conjunction with 
the previously discussed census data in order to show how gentrification changes the make-up of neighborhoods. Ideally, we would like to show where the displaced 
citizens moved after their neighborhoods were gentrified. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;The two datasets we decided to load into our notebook for this milestone contain the average income and racial makeup for each census tract and each neighborhood. Loading this datasets 
came with a host of struggles. The biggest struggle was changing all of the column names such that they were sensical and easy to manipulate.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;In terms of our meeting plan, we have set weekly meetings on Mondays at 1pm to analyze our progress and plan for any upcoming due dates or milestones. Depending on 
our availability and wellbeing, we have decided to meet in person in the library to avoid technological complications. In the event that we need to meet virtually, we will maintain these meeting times via Zoom. For any code we are writing for the final project, we will do so in our private GitHub repo attached to our final project page. We have already established that both of us are able to connect, pull, and push to it from our local machines.

## References/Links
https://www.census.gov/programs-surveys/saipe/data/api.html<br>
https://www.census.gov/data/datasets/time-series/demo/saipe/model-tables.html<br>
https://www.datacenterresearch.org/reports_analysis/placing-prosperity/<br>
https://richcampanella.com/wp-content/uploads/2020/02/article_Campanella_300-Years-of-Human-Geography-in-New-Orleans.pdf<br>
https://www.nytimes.com/2019/08/27/opinion/new-orleans.html <br>
https://data.census.gov/cedsci/

Original data can be found on our github page in ~/Data

In [4]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')#style change
%matplotlib inline
pd.options.mode.chained_assignment = None #ignore warnings
pd.options.display.float_format = '{:.4f}'.format #display in non-scientific notation

**Source** <br>
Original data tables can be found by searching for "race" and "income" at https://data.census.gov/cedsci/ and the filtering to only include census tracts in orleans parish.

We begin by cleaning up a dataset of one year of race data, which we will then apply to each year of data.

In [2]:
df = pd.read_csv("./Data/productDownload_2020-10-23T150453/ACSDP5Y2010.DP05_data_with_overlays_2020-10-23T150427.csv", skiprows = 1)
# change names of columns I want to keep, and then make them into new df
clean_df = df.rename(columns = {
    "id" : "Geo_ID",
    "Geographic Area Name" : "Census Tract",
    "Estimate!!SEX AND AGE!!Total population" : "Total Population",
    "Estimate!!RACE!!One race!!White" : "White",
    "Estimate!!RACE!!One race!!Black or African American" : "Black",
    "Estimate!!RACE!!One race!!American Indian and Alaska Native" : "American Indian and Alask Native",
    "Estimate!!RACE!!One race!!Asian" : "Asian",
    "Estimate!!RACE!!One race!!Native Hawaiian and Other Pacific Islander" : "Native Hawaiian and Other Pacific Islander",
    "Estimate!!RACE!!One race!!Some other race" : "Other"
    
    

    
    
})
clean_df = clean_df[["Geo_ID", "Census Tract", "Total Population", "White", "Black", "American Indian and Alask Native",
                   "Asian", "Native Hawaiian and Other Pacific Islander", "Other"]]

# get rid of extra characters from census tract column
clean_df["Census Tract"] = clean_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
clean_df["Year"] = 2010
# get rid of unnecessary numbers in Geo_ID
clean_df["Geo_ID"] = clean_df["Geo_ID"].apply(lambda x: x[9:])
clean_df["Geo_ID"] = clean_df["Geo_ID"].astype(np.int64)
clean_df["Census Tract"] = clean_df["Census Tract"].astype(np.float64)

In [3]:
# get all race data into one df
all_clean_race_df = clean_df

for i in range(2011, 2019):
    year = str(i)
    fileName = "./Data/productDownload_2020-10-23T150453/ACSDP5Y" + year + ".DP05_data_with_overlays_2020-10-23T150427.csv"
    df = pd.read_csv(fileName, skiprows=1)
    new_df = df.rename(columns = {
        "id" : "Geo_ID",
        "Geographic Area Name" : "Census Tract",
        "Estimate!!SEX AND AGE!!Total population" : "Total Population",
        "Estimate!!RACE!!One race!!White" : "White",
        #different names in different tables
        "Estimate!!RACE!!Total population!!One race!!White" : "White",
        "Estimate!!RACE!!One race!!Black or African American" : "Black",
        "Estimate!!RACE!!Total population!!One race!!Black or African American" : "Black",
        "Estimate!!RACE!!One race!!American Indian and Alaska Native" : "American Indian and Alask Native",
        "Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native" : "American Indian and Alask Native",
        "Estimate!!RACE!!One race!!Asian" : "Asian",
        "Estimate!!RACE!!Total population!!One race!!Asian" : "Asian",
        "Estimate!!RACE!!One race!!Native Hawaiian and Other Pacific Islander" : "Native Hawaiian and Other Pacific Islander",
        "Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander" : "Native Hawaiian and Other Pacific Islander",
        "Estimate!!RACE!!One race!!Some other race" : "Other",
        "Estimate!!RACE!!Total population!!One race!!Some other race" : "Other"
    })
    # keep race data
    new_df = new_df[["Geo_ID", "Census Tract", "Total Population", "White", "Black", "American Indian and Alask Native", "Asian", "Native Hawaiian and Other Pacific Islander", "Other"]]
    # get rid of words in census tract column
    new_df["Census Tract"] = new_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
    # get rid of unnecessary numbers in Geo_ID
    new_df["Geo_ID"] = new_df["Geo_ID"].apply(lambda x: x[9:])
    new_df["Geo_ID"] = new_df["Geo_ID"].astype(np.int64)
    new_df["Census Tract"] = new_df["Census Tract"].astype(np.float64)
    new_df["Year"] = i
    all_clean_race_df = pd.concat([all_clean_race_df, new_df], ignore_index=True)

We will now check that the data type of each column makes sense.

In [4]:
print(all_clean_race_df.dtypes)

Geo_ID                                          int64
Census Tract                                  float64
Total Population                                int64
White                                           int64
Black                                           int64
American Indian and Alask Native                int64
Asian                                           int64
Native Hawaiian and Other Pacific Islander      int64
Other                                           int64
Year                                            int64
dtype: object

Note: Some census tracts are split into parts, like in the example below, so they are kept as floats, rather than ints.

In [5]:
all_clean_race_df[44:46]

,Geo_ID,Census Tract,Total Population,White,Black,American Indian and Alask Native,Asian,Native Hawaiian and Other Pacific Islander,Other,Year
44,22071012101,121.0100,3343,2721,212,0,317,0,0,2010
45,22071012102,121.0200,4236,3694,161,0,281,0,0,2010

We can now look at the data from one census tract from 2010 to 2018

In [6]:
all_clean_race_df[all_clean_race_df["Census Tract"] == 65]

,Geo_ID,Census Tract,Total Population,White,Black,American Indian and Alask Native,Asian,Native Hawaiian and Other Pacific Islander,Other,Year
3,22071006500,65.0000,2126,933,1031,8,0,22,102,2010
283,22071006500,65.0000,2315,1181,840,14,36,46,134,2011
460,22071006500,65.0000,2569,1398,844,17,32,53,116,2012
569,22071006500,65.0000,2620,1500,740,10,38,37,209,2013
862,22071006500,65.0000,2679,1627,802,0,40,26,94,2014
943,22071006500,65.0000,2761,1782,772,0,35,0,116,2015
1168,22071006500,65.0000,2709,1785,741,0,27,0,97,2016
1292,22071006500,65.0000,2782,1712,899,0,28,0,101,2017
1522,22071006500,65.0000,2762,1631,905,0,23,0,128,2018

We will not save this dataframe to a csv, so that we can skip this cleaning in the future.

In [7]:
all_clean_race_df.to_csv("./Data/cleaned_race_data.csv")

Now we will similarly clean the income datasets.

In [8]:
df = pd.read_csv("./Data/productDownload_2020-10-23T151012/ACSST5Y2010.S1901_data_with_overlays_2020-10-23T150937.csv", skiprows=1)

In [9]:
clean_df = df.rename(columns = {
    "id" : "Geo_ID",
    "Geographic Area Name" : "Census Tract",
    #households or families?
    "Households!!Estimate!!Total" : "Households",
    "Households!!Estimate!!Less than $10,000" : "Households less than $\$$10,000",
    "Households!!Estimate!!$10,000 to $14,999" : "Households $\$$10,000 to $\$$14,999",
    "Households!!Estimate!!$15,000 to $24,999" : "Households $\$$15,000 to $\$$24,999",
    "Households!!Estimate!!$25,000 to $34,999" : "Households $\$$25,000 to $\$$34,999",
    "Households!!Estimate!!$35,000 to $49,999" : "Households $\$$35,000 to $\$$49,999",
    "Households!!Estimate!!$50,000 to $74,999" : "Households $\$$50,000 to $\$$74,999",
    "Households!!Estimate!!$75,000 to $99,999" : "Households $\$$75,000 to $\$$99,999",
    "Households!!Estimate!!$100,000 to $149,999" : "Households $\$$100,000 to $\$$149,999",
    "Households!!Estimate!!$150,000 to $199,999" : "Households $\$$150,000 to $\$$199,999",
    "Households!!Estimate!!$200,000 or more" : "Households $\$$200,000 or more",
    "Households!!Estimate!!Median income (dollars)" : "Household median income (dollars)",
    "Households!!Estimate!!Mean income (dollars)" : "Household mean income (dollars)",
})

clean_df = clean_df[["Geo_ID", "Census Tract", "Households", "Households less than $\$$10,000", "Households $\$$10,000 to $\$$14,999",
                    "Households $\$$15,000 to $\$$24,999", "Households $\$$25,000 to $\$$34,999", "Households $\$$35,000 to $\$$49,999",
                    "Households $\$$50,000 to $\$$74,999", "Households $\$$75,000 to $\$$99,999", "Households $\$$100,000 to $\$$149,999",
                     "Households $\$$150,000 to $\$$199,999", "Households $\$$200,000 or more", "Household median income (dollars)",
                     "Household mean income (dollars)"]]
clean_df.replace(to_replace="-", value=np.nan, inplace=True)
clean_df.replace(to_replace="N", value=np.nan, inplace=True)
clean_df = clean_df.astype({
        "Households" : "int64",
        "Households less than $\$$10,000" :  "float64",
        "Households $\$$10,000 to $\$$14,999" : "float64",
        "Households $\$$15,000 to $\$$24,999" : "float64",
        "Households $\$$25,000 to $\$$34,999" : "float64",
        "Households $\$$35,000 to $\$$49,999" : "float64",
        "Households $\$$50,000 to $\$$74,999" : "float64",
        "Households $\$$75,000 to $\$$99,999" : "float64", 
        "Households $\$$100,000 to $\$$149,999" : "float64",
        "Households $\$$150,000 to $\$$199,999" : "float64", 
        "Households $\$$200,000 or more" : "float64",
        "Household median income (dollars)" : "float64",
        "Household mean income (dollars)" : "float64"
    })

clean_df["Census Tract"] = clean_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
clean_df["Year"] = 2010      
# get rid of unnecessary numbers in Geo_ID
clean_df["Geo_ID"] = clean_df["Geo_ID"].apply(lambda x: x[9:])
clean_df["Geo_ID"] = clean_df["Geo_ID"].astype(np.int64)
clean_df["Census Tract"] = clean_df["Census Tract"].astype(np.float64)

Now we add all the other years.

In [10]:
all_clean_income_df = clean_df

for i in range(2011, 2019):
    year = str(i)
    fileName = "./Data/productDownload_2020-10-23T151012/ACSST5Y" + year + ".S1901_data_with_overlays_2020-10-23T150937.csv"
    df = pd.read_csv(fileName, skiprows=1)
    new_df = df.rename(columns = {
        "id" : "Geo_ID",
        "Geographic Area Name" : "Census Tract",
        #households or families?
        "Households!!Estimate!!Total" : "Households",
        #different starting in 2017
        "Estimate!!Households!!Total" : "Households",
        "Households!!Estimate!!Less than $10,000" : "Households less than $\$$10,000",
        "Estimate!!Households!!Total!!Less than $10,000" : "Households less than $\$$10,000",
        "Households!!Estimate!!$10,000 to $14,999" : "Households $\$$10,000 to $\$$14,999",
        "Estimate!!Households!!Total!!$10,000 to $14,999" : "Households $\$$10,000 to $\$$14,999",
        "Households!!Estimate!!$15,000 to $24,999" : "Households $\$$15,000 to $\$$24,999",
        "Estimate!!Households!!Total!!$15,000 to $24,999" : "Households $\$$15,000 to $\$$24,999",
        "Households!!Estimate!!$25,000 to $34,999" : "Households $\$$25,000 to $\$$34,999",
        "Estimate!!Households!!Total!!$25,000 to $34,999" : "Households $\$$25,000 to $\$$34,999",
        "Households!!Estimate!!$35,000 to $49,999" : "Households $\$$35,000 to $\$$49,999",
        "Estimate!!Households!!Total!!$35,000 to $49,999" : "Households $\$$35,000 to $\$$49,999",
        "Households!!Estimate!!$50,000 to $74,999" : "Households $\$$50,000 to $\$$74,999",
        "Estimate!!Households!!Total!!$50,000 to $74,999" : "Households $\$$50,000 to $\$$74,999",
        "Households!!Estimate!!$75,000 to $99,999" : "Households $\$$75,000 to $\$$99,999",
        "Estimate!!Households!!Total!!$75,000 to $99,999" : "Households $\$$75,000 to $\$$99,999",
        "Households!!Estimate!!$100,000 to $149,999" : "Households $\$$100,000 to $\$$149,999",
        "Estimate!!Households!!Total!!$100,000 to $149,999" : "Households $\$$100,000 to $\$$149,999",
        "Households!!Estimate!!$150,000 to $199,999" : "Households $\$$150,000 to $\$$199,999",
        "Estimate!!Households!!Total!!$150,000 to $199,999" : "Households $\$$150,000 to $\$$199,999",
        "Households!!Estimate!!$200,000 or more" : "Households $\$$200,000 or more",
        "Estimate!!Households!!Total!!$200,000 or more" : "Households $\$$200,000 or more",
        "Households!!Estimate!!Median income (dollars)" : "Household median income (dollars)",
        "Estimate!!Households!!Median income (dollars)" : "Household median income (dollars)",
        "Households!!Estimate!!Mean income (dollars)" : "Household mean income (dollars)",
        "Estimate!!Households!!Mean income (dollars)" : "Household mean income (dollars)",
    })

    new_df = new_df[["Geo_ID", "Census Tract", "Households", "Households less than $\$$10,000", "Households $\$$10,000 to $\$$14,999",
                    "Households $\$$15,000 to $\$$24,999", "Households $\$$25,000 to $\$$34,999", "Households $\$$35,000 to $\$$49,999",
                    "Households $\$$50,000 to $\$$74,999", "Households $\$$75,000 to $\$$99,999", "Households $\$$100,000 to $\$$149,999",
                     "Households $\$$150,000 to $\$$199,999", "Households $\$$200,000 or more", "Household median income (dollars)",
                     "Household mean income (dollars)"]]
    # replace "-" with np.nan
    new_df.replace(to_replace="-", value=np.nan, inplace=True)
    new_df.replace(to_replace="N", value=np.nan, inplace=True)
    new_df = new_df.astype({
        "Households" : "int64",
        "Households less than $\$$10,000" :  "float64",
        "Households $\$$10,000 to $\$$14,999" : "float64",
        "Households $\$$15,000 to $\$$24,999" : "float64",
        "Households $\$$25,000 to $\$$34,999" : "float64",
        "Households $\$$35,000 to $\$$49,999" : "float64",
        "Households $\$$50,000 to $\$$74,999" : "float64",
        "Households $\$$75,000 to $\$$99,999" : "float64", 
        "Households $\$$100,000 to $\$$149,999" : "float64",
        "Households $\$$150,000 to $\$$199,999" : "float64", 
        "Households $\$$200,000 or more" : "float64",
        "Household median income (dollars)" : "float64",
        "Household mean income (dollars)" : "float64"
    })
    new_df["Census Tract"] = new_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
    # get rid of unnecessary numbers in Geo_ID
    new_df["Geo_ID"] = new_df["Geo_ID"].apply(lambda x: x[9:])
    new_df["Geo_ID"] = new_df["Geo_ID"].astype(np.int64)
    new_df["Census Tract"] = new_df["Census Tract"].astype(np.float64)
    new_df["Year"] = i
    all_clean_income_df = pd.concat([all_clean_income_df, new_df], ignore_index=True)

In [11]:
all_clean_income_df.dtypes

Geo_ID                                     int64
Census Tract                             float64
Households                                 int64
Households less than $\$$10,000          float64
Households $\$$10,000 to $\$$14,999      float64
Households $\$$15,000 to $\$$24,999      float64
Households $\$$25,000 to $\$$34,999      float64
Households $\$$35,000 to $\$$49,999      float64
Households $\$$50,000 to $\$$74,999      float64
Households $\$$75,000 to $\$$99,999      float64
Households $\$$100,000 to $\$$149,999    float64
Households $\$$150,000 to $\$$199,999    float64
Households $\$$200,000 or more           float64
Household median income (dollars)        float64
Household mean income (dollars)          float64
Year                                       int64
dtype: object

Note: All of the household data are percentages, which is why they are floats and not ints.

We can now look at the data across all years for one census tract.

In [12]:
all_clean_income_df[all_clean_income_df["Census Tract"] == 65]

,Geo_ID,Census Tract,Households,"Households less than $\$$10,000","Households $\$$10,000 to $\$$14,999","Households $\$$15,000 to $\$$24,999","Households $\$$25,000 to $\$$34,999","Households $\$$35,000 to $\$$49,999","Households $\$$50,000 to $\$$74,999","Households $\$$75,000 to $\$$99,999","Households $\$$100,000 to $\$$149,999","Households $\$$150,000 to $\$$199,999","Households $\$$200,000 or more",Household median income (dollars),Household mean income (dollars),Year
106,22071006500,65.0000,937,10.8000,9.9000,17.3000,9.8000,10.2000,20.2000,12.8000,4.7000,4.3000,0.0000,37440.0000,48102.0000,2010
283,22071006500,65.0000,1092,19.2000,9.9000,8.4000,10.9000,11.8000,16.4000,9.7000,9.1000,4.6000,0.0000,36932.0000,49805.0000,2011
460,22071006500,65.0000,1194,15.0000,10.1000,15.7000,11.2000,9.8000,14.5000,11.7000,10.1000,2.0000,0.0000,32226.0000,46976.0000,2012
637,22071006500,65.0000,1226,14.9000,9.8000,14.5000,11.0000,13.0000,17.5000,9.5000,8.5000,1.4000,0.0000,34817.0000,44878.0000,2013
781,22071006500,65.0000,1184,14.9000,7.9000,14.0000,12.9000,10.5000,15.2000,13.2000,10.2000,1.0000,0.3000,35256.0000,48322.0000,2014
940,22071006500,65.0000,1218,13.6000,5.9000,13.7000,12.3000,13.0000,15.4000,15.3000,9.6000,1.1000,0.2000,37368.0000,49714.0000,2015
1179,22071006500,65.0000,1199,6.8000,7.9000,15.8000,11.7000,14.9000,15.8000,12.8000,12.1000,1.1000,1.1000,40040.0000,54719.0000,2016
1292,22071006500,65.0000,1215,9.2000,7.3000,14.1000,11.5000,16.0000,11.4000,14.8000,11.2000,3.2000,1.2000,39250.0000,56894.0000,2017
1522,22071006500,65.0000,1228,8.0000,4.7000,15.0000,11.6000,11.2000,12.0000,15.5000,14.1000,6.1000,1.9000,49000.0000,64585.0000,2018

Finally, we export this dataframe to a csv, so that we can skip the cleaning steps in the future.

In [13]:
all_clean_income_df.to_csv("./Data/cleaned_income_data.csv")

In order to do some mapping later on, we will also clean a dataset which maps census tract GeoID to lat/long. The data can be found at https://tigerweb.geo.census.gov/tigerwebmain/TIGERweb_apps.html. Once you follow the link, navigate to Data Files, State-Based Data Files, Census Blockgroups - ACS 2019, and finally to Louisiana.

In [5]:
# find the tables in the HTML file
tables = pd.read_html("./Data/CensusLatLong.html", flavor='bs4')

In [6]:
table = tables[0]
df = table[["GEOID","COUNTY", "TRACT", "CENTLAT", "CENTLON"]]
# county 71 is Orleans Parish
df = df.loc[df["COUNTY"] == 71]
df["GEOID"] = df["GEOID"].astype(str)
# get  rid of unneccessary parts of GEOID
df["GEOID"] = df["GEOID"].apply(lambda x: x[:11])
df["GEOID"] = df["GEOID"].astype(np.int64)
df["TRACT"] = df["TRACT"].astype(np.float64)
df.dtypes

GEOID        int64
COUNTY       int64
TRACT      float64
CENTLAT    float64
CENTLON    float64
dtype: object

Each census tract is broken down into block groups, which each have their own lat/long. To give ach census tract their own lat/long, we will group by track-level GEOID, and then take the average of the latitude and longitude.

In [7]:
df = df.groupby("GEOID")["CENTLAT", "CENTLON"].mean()
display(df)

<ipython-input-7-44fdfbbf40ab>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df = df.groupby("GEOID")["CENTLAT", "CENTLON"].mean()

             CENTLAT  CENTLON
GEOID
22071000100  29.9525 -90.0508
22071000200  29.9463 -90.0510
22071000300  29.9411 -90.0490
22071000400  29.9472 -90.0424
22071000601  29.9329 -90.0411
...              ...      ...
22071014400  29.9168 -90.1083
22071014500  29.9606 -90.0950
22071980000  30.0015 -90.0931
22071980100  30.0045 -89.9157
22071990000  30.1214 -89.9729

[177 rows x 2 columns]

This dataframe will be saved to a csv. It can be easily joined to our other datasets in order to plot data on a map!

In [9]:
df.to_csv("./Data/CensusTractToLatLong.csv")

 # Exploratory Data Analysis