In [1]:
import pandas as pd

In [12]:
test = pd.read_csv("./productDownload_2020-10-23T150453/ACSDP5Y2010.DP05_data_with_overlays_2020-10-23T150427.csv", skiprows = 1)
test.head()

,id,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Male,Estimate Margin of Error!!SEX AND AGE!!Male,Percent!!SEX AND AGE!!Male,Percent Margin of Error!!SEX AND AGE!!Male,...,Percent!!HISPANIC OR LATINO AND RACE!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,"Estimate!!HISPANIC OR LATINO AND RACE!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races","Estimate Margin of Error!!HISPANIC OR LATINO AND RACE!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races","Percent!!HISPANIC OR LATINO AND RACE!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races","Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races",Estimate!!Total housing units,Estimate Margin of Error!!Total housing units,Percent!!Total housing units,Percent Margin of Error!!Total housing units
0,1400000US22071006000,"Census Tract 60, Orleans Parish, Louisiana",449,178,449,(X),280,121,62.4,9.8,...,0.0,7.5,0,123,0.0,7.5,306,63,(X),(X)
1,1400000US22071006300,"Census Tract 63, Orleans Parish, Louisiana",1340,315,1340,(X),650,209,48.5,9.7,...,0.0,2.6,0,123,0.0,2.6,754,109,(X),(X)
2,1400000US22071006400,"Census Tract 64, Orleans Parish, Louisiana",2118,401,2118,(X),1073,288,50.7,9.8,...,0.0,1.6,22,25,1.0,1.2,1398,87,(X),(X)
3,1400000US22071006500,"Census Tract 65, Orleans Parish, Louisiana",2126,443,2126,(X),1204,312,56.6,7.7,...,0.0,1.6,30,51,1.4,2.5,1235,99,(X),(X)
4,1400000US22071006900,"Census Tract 69, Orleans Parish, Louisiana",773,311,773,(X),250,127,32.3,11.2,...,0.0,4.4,0,123,0.0,4.4,546,140,(X),(X)

In [39]:
# change names of columns I want to keep, and then make them into new df
clean_df = test.rename(columns = {
    "id" : "Geo_ID",
    "Geographic Area Name" : "Census Tract",
    "Estimate!!SEX AND AGE!!Total population" : "Total Population",
    "Estimate!!RACE!!One race!!White" : "White",
    "Estimate!!RACE!!One race!!Black or African American" : "Black",
    "Estimate!!RACE!!One race!!American Indian and Alaska Native" : "American Indian and Alask Native",
    "Estimate!!RACE!!One race!!Asian" : "Asian",
    "Estimate!!RACE!!One race!!Native Hawaiian and Other Pacific Islander" : "Native Hawaiian and Other Pacific Islander",
    "Estimate!!RACE!!One race!!Some other race" : "Other"
    
    

    
    
})
clean_df = clean_df[["Geo_ID", "Census Tract", "Total Population", "White", "Black", "American Indian and Alask Native",
                   "Asian", "Native Hawaiian and Other Pacific Islander", "Other"]]
# do we want census tract to be a number? it's currently an object
clean_df["Census Tract"] = clean_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
clean_df["Year"] = 2010
clean_df.head()

,Geo_ID,Census Tract,Total Population,White,Black,American Indian and Alask Native,Asian,Native Hawaiian and Other Pacific Islander,Other,Year
0,1400000US22071006000,60,449,164,179,0,106,0,0,2010
1,1400000US22071006300,63,1340,283,843,0,0,0,214,2010
2,1400000US22071006400,64,2118,1273,770,0,30,0,23,2010
3,1400000US22071006500,65,2126,933,1031,8,0,22,102,2010
4,1400000US22071006900,69,773,0,773,0,0,0,0,2010

In [60]:
# get all race data into one df
all_clean_race_df = clean_df

for i in range(2011, 2019):
    year = str(i)
    fileName = "./productDownload_2020-10-23T150453/ACSDP5Y" + year + ".DP05_data_with_overlays_2020-10-23T150427.csv"
    df = pd.read_csv(fileName, skiprows=1)
    new_df = df.rename(columns = {
        "id" : "Geo_ID",
        "Geographic Area Name" : "Census Tract",
        "Estimate!!SEX AND AGE!!Total population" : "Total Population",
        "Estimate!!RACE!!One race!!White" : "White",
        #different names in different tables
        "Estimate!!RACE!!Total population!!One race!!White" : "White",
        "Estimate!!RACE!!One race!!Black or African American" : "Black",
        "Estimate!!RACE!!Total population!!One race!!Black or African American" : "Black",
        "Estimate!!RACE!!One race!!American Indian and Alaska Native" : "American Indian and Alask Native",
        "Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native" : "American Indian and Alask Native",
        "Estimate!!RACE!!One race!!Asian" : "Asian",
        "Estimate!!RACE!!Total population!!One race!!Asian" : "Asian",
        "Estimate!!RACE!!One race!!Native Hawaiian and Other Pacific Islander" : "Native Hawaiian and Other Pacific Islander",
        "Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander" : "Native Hawaiian and Other Pacific Islander",
        "Estimate!!RACE!!One race!!Some other race" : "Other",
        "Estimate!!RACE!!Total population!!One race!!Some other race" : "Other"
    })
    # keep race data
    new_df = new_df[["Geo_ID", "Census Tract", "Total Population", "White", "Black", "American Indian and Alask Native", "Asian", "Native Hawaiian and Other Pacific Islander", "Other"]]
    # get rid of words in census tract column
    new_df["Census Tract"] = new_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
    new_df["Year"] = i
    all_clean_race_df = pd.concat([all_clean_race_df, new_df], ignore_index=True)

In [61]:
all_clean_race_df

,Geo_ID,Census Tract,Total Population,White,Black,American Indian and Alask Native,Asian,Native Hawaiian and Other Pacific Islander,Other,Year
0,1400000US22071006000,60,449,164,179,0,106,0,0,2010
1,1400000US22071006300,63,1340,283,843,0,0,0,214,2010
2,1400000US22071006400,64,2118,1273,770,0,30,0,23,2010
3,1400000US22071006500,65,2126,933,1031,8,0,22,102,2010
4,1400000US22071006900,69,773,0,773,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...
1588,1400000US22071014400,144,1723,1177,477,13,16,0,12,2018
1589,1400000US22071014500,145,2516,332,2173,0,8,0,3,2018
1590,1400000US22071980000,9800,10,7,1,0,2,0,0,2018
1591,1400000US22071980100,9801,0,0,0,0,0,0,0,2018
1592,1400000US22071990000,9900,0,0,0,0,0,0,0,2018

In [62]:
all_clean_race_df[all_clean_race_df["Census Tract"] == "9900"]

,Geo_ID,Census Tract,Total Population,White,Black,American Indian and Alask Native,Asian,Native Hawaiian and Other Pacific Islander,Other,Year
73,1400000US22071990000,9900,0,0,0,0,0,0,0,2010
353,1400000US22071990000,9900,0,0,0,0,0,0,0,2011
530,1400000US22071990000,9900,0,0,0,0,0,0,0,2012
639,1400000US22071990000,9900,0,0,0,0,0,0,0,2013
755,1400000US22071990000,9900,0,0,0,0,0,0,0,2014
1013,1400000US22071990000,9900,0,0,0,0,0,0,0,2015
1238,1400000US22071990000,9900,0,0,0,0,0,0,0,2016
1312,1400000US22071990000,9900,0,0,0,0,0,0,0,2017
1592,1400000US22071990000,9900,0,0,0,0,0,0,0,2018

In [63]:
all_clean_race_df.to_csv("./cleaned_race_data.csv")